<!DOCTYPE html>
{% load static %}  
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Random chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    </head>
    <body>
        <div>
        {% include 'navbar.html' %}
        </div>
        <div class="container-fluid">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        
        {% endblock content %}
    </div>
        <script src="" async defer></script>
    </body>
</html>